ENCRYPTION_KEY=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CREATOR_SHARE=0.9
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_PLATFORM_SHARE=0.1
NEXT_PUBLIC_PLATFORM_SHARE_WITH_REFERRAL=0.09
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_REFERRAL_SHARE=0.01
NEXT_PUBLIC_STORAGE_BUCKET=
NODE_ENV=development
PAYPACK_CLIENT_ID=
PAYPACK_CLIENT_SECRET=
PAYPACK_WEBHOOK_SECRET=
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_IPN_ID=
PESAPAL_URL=
SMTP_PASS=
SMTP_USER=