@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #FBFBFC;
  --foreground: #171717;
  --card: #ffffff;
  --card-hover: #f8fafc;
  --border: #f1f5f9;
  --border-strong: #e2e8f0;
  --muted: #f8fafc;
  --muted-foreground: #64748b;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
  --card: #1e293b;
  --card-hover: #334155;
  --border: #1e293b;
  --border-strong: #334155;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
}

* {
  font-family: var(--font-rubik);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
